@import "tailwindcss";


/* 在 tailwind.css 或其他全域樣式中 */
@layer components {
	.divider {
		@apply border-8 border-blue-500;
	}
}

.swiper-button-prev,
.swiper-button-next {
	/* color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 12px;
	border-radius: 50%;
	width: 40px;
	height: 40px; */
}

.swiper-button-prev {
	/* right: 20px; */
}

.swiper-button-next {
	/* right: 10px; */
}